html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
img {
  display: block;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner {
  max-width: 1220px;
  margin: 0 auto;
}
